<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listings</title>
</head>
<body>
<h1>Listings</h1>

<table border="1">
    <thead></thead>
    <tr th:each="listing : ${listings}">
        <td>
            <!-- Outputting listing.user -->
            <p th:text="${listing.user}"></p>
            <!-- Outputting the user ID with null check -->
            <p th:if="${listing.user != null}" th:text="${listing.user.id}"></p>


            <!-- Outputting listing.user.id -->
<!--            <p th:text="${listing.user.id}"></p>-->


            <!--            <input type="text" th:value="${listing.user.id}"/>-->
        </td>
        <td th:text="${listing.id}"></td>
        <td width="150" height="100">
            <!--            <img th:src="${listing.variety.imgPath != null and listing.variety.imgPath != ''} ? ${listing.variety.imgPath} : '/img/DefaultImage.png'" alt="Default Image" />-->
        </td>
        <td>
            <div>
                <label th:for="variety">Violet Variety:</label>
                <span th:if="${listing.variety != null}" th:text="${listing.variety.name}"></span>
            </div>
            <div>
                <label th:for="maturity">Violet Maturity:</label>
                <label th:text="${listing.maturity.type}"></label>
            </div>
            <div>
                <label th:for="maturity">Details:</label>
                <label th:text="${listing.description}"></label>
            </div>
        </td>
        <td width="50">
            <!-- Add an "Update" button -->
<!--&lt;!&ndash;            <form th:action="@{/user/update/{id}(id=${listing.id})}" method="get">&ndash;&gt;-->
<!--            <form th:action="@{/user/update/{id}(id=${listing.id})}" method="get">-->

<!--            <button type="submit">Update</button>-->
<!--            </form>-->
            <span th:if="${listing.user != null && listing.user.id != null}">
    <a th:href="@{/user/update/{id}(id=${listing.id})}">Update</a>
</span>
            <span th:unless="${listing.user != null && listing.user.id != null}">
    <span>Update</span>
</span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
