<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
</head>
<body>
<div>
    <h2>Varieties</h2>
    <form th:action="@{/search/browse}" method="get">
        <label for="varietySearch">Search for Variety :</label>
        <input type="text" id="varietySearch" name="varietySearch" />
        <button type="submit">Search</button>
    </form>
    <!-- List of Varieties -->
    <ul>
        <li th:each="variety : ${varieties}">
<!--            <a th:href="@{/search/search/variety/{id}(id=${variety.id})}" th:text="${variety.name}"></a>-->

            <a th:href="@{/search/variety/{id}(id=${variety.id})}" th:text="${variety.name}"></a>

        </li>
    </ul>
</div>
</body>
</html>
