<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
</head>
<body>

<h2>Varieties</h2>
<form th:action="@{/search/varieties/results}" method="post" style="max-width:600px;">
    <div class="form-group">
        <label>Search for Variety :
            <input class="form-control" type="text" name="searchTerm" />
        </label>
        <!-- Include CSRF token -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit">Search</button>
    </div>
</form>

<!--<form th:action="@{/search/varieties/}" method="get">-->
<!--    <label for="searchTerm">Browse by Variety :</label>-->
<!--    <input type="text" id="searchTerm" name="searchTerm" />-->
<!--    <button type="submit">Search</button>-->
<!--</form>-->


<!-- List of Varieties -->
<div>
    <ul>
        <li th:each="variety : ${varieties}">

            <a th:href="@{/search/variety/{id}(id=${variety.id})}" th:text="${variety.name}"></a>

        </li>
    </ul>
</div>


</body>
</html>
