<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Violet Swap</title>
</head>
<header th:replace="~{fragments :: header}"></header>
<body  style="background-color: #008080">

<h1>User Profile</h1>


<th:block  th:if="${displayedUser != null}">
    <div th:if="${isCurrentUser}">
        <h2>Hello Current User!</h2>
    </div>
    <div>
        <h3 th:text="${displayedUser.username}"></h3>
        <h4 th:text="${displayedUser.address}"></h4>
    </div>
    <div th:if="${!isCurrentUser}">
        <h4 th:text="'Contact '+${displayedUser.username}"></h4>
        <form th:action="@{/contact}" method="post">
            <input type="hidden" th:name="sendingUser" th:value="${currentUser.username}"/>
            <input type="hidden" th:name="receivingUser" th:value="${displayedUser.username}"/>
            <label>Subject
                <input th:field="${emailToSend.subject}" class="form-control"/>
            </label>
            <label>Message
                <textarea th:field="${emailToSend.body}"></textarea>
            </label>

            <!-- Include CSRF token -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <input type="submit" value="Send Message" class="btn"/>
        </form>
        <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
    </div>
</th:block>

<div th:unless="${displayedUser != null}">
    <h2>This user does not exist!</h2>
</div>

<h1>Listings</h1>
<!-- new-listing button -->
<a th:href="@{/user/new-listing}">
    <button type="button">Add Listing</button>
</a>
<!-- user's listings -->
<div th:replace="fragments :: showListings"></div>

<!--    button to delete user-->
<div th:if="${isCurrentUser}">
    <a th:href="@{/user/delete/{id}(id=${displayedUser.id})}">
        <button th:type="button">Delete Account</button>
    </a>
</div>

</body>
</html>