<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" style="max-width:600px;">
    <!--    text box for description-->
    <div class="form-group">
        <label th:for="name">Name of your Variety: </label>
        <input class="form-control" th:field="${variety.name}" type="text"/>
        <span th:errors="${variety.name}" class="error"></span>
    </div>

    <input type="submit" value="Submit" />
</form>

</body>
</html>

