<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!--<head th:replace="~{fragments :: head}"></head>-->
<body class="container  body-content">

<h1>Create New Listing</h1>

<!--<nav th:replace="~{fragments :: page-header}"></nav>-->

<form method="post" style="max-width:600px;">

<!--    text box - Plant Variety will eventually be a drop-down with the different varieties as the different options-->
    <div class="form-group">
        <label th:for="variety">Plant Variety</label>
        <input class="form-control" th:field="${listing.variety}" />
        <span th:errors="${listing.variety}" class="error"></span>
    </div>

<!--    drop dpwn-->
    <div class="form-group">
        <label th:for="maturity">Plant Maturity</label>
        <select th:field="${listing.maturity}" >
            <option th:each="level : ${maturityLevels}" th:value="${level}" th:text="${level.type}"></option>
        </select>
    </div>

<!--    text box-->
    <div class="form-group">
        <label th:for="description">Brief Description (300 words or less)</label>
        <input class="form-control" th:field="${listing.description}" type="text"/>
        <span th:errors="${listing.description}" class="error"></span>
    </div>

    <input type="submit" value="Submit" />
</form>

</body>
</html>


