<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Violet Swap</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
</head>
<body>

<h1 th:text="${title}"></h1>

<form method="post" action="/register">
    <div class="form-group">
        <label>Username
            <input th:field="${registerFormDTO.username}" class="form-control"/>
        </label>
        <p class="error" th:errors="${registerFormDTO.username}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input th:field="${registerFormDTO.password}" class="form-control"/>
        </label>
        <p class="error" th:errors="${registerFormDTO.password}"></p>
    </div>
    <div class="form-group">
        <label>Confirm Password
            <input th:field="${registerFormDTO.confirmPassword}" class="form-control"/>
        </label>
    </div>
    <div class="form-group">
        <label>Email Address
            <input th:field="${registerFormDTO.email}" class="form-control"/>
        </label>
        <p class="error" th:errors="${registerFormDTO.email}"></p>
    </div>
    <div class="form-group">
        <label>City
            <input th:field="${registerFormDTO.city}" class="form-control"/>
        </label>
        <p class="error" th:errors="${registerFormDTO.city}"></p>
    </div>
    <div class="form-group">
        <label>State
            <input th:field="${registerFormDTO.state}" class="form-control"/>
        </label>
        <p class="error" th:errors="${registerFormDTO.state}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Register Now" class="btn"/>
    </div>
</form>

</body>
</html>