<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
</head>
<body>
<div>
<!--    <form th:action="@{/search/results}" method = "post">-->
    <form th:action="@{/listings/search}" method="get">
        <label for="variety">Search by Variety :</label>
        <input type="text" id="variety" name="variety" th:value="${searchVariety}" />
        <button type="submit">Search</button>
    </form>
    <table class="cultivar-listing">
        <tr th:each="cultivar : ${cultivars}">
            <td>
                <p>
                    Variety :
                    <a th:href="@{'/view/' + ${cultivar.id}}" th:text="${cultivar.id}"></a>
                </p>
                <p th:text="${'Cultivar: ' + cultivar.name}"></p>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
