<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
</head>
<body>
<div>
    <h2>Search Results : <span th:text="${searchVariety}"></span></h2>

    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Variety</th>
            <th>Maturity</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="listing : ${listings}">
            <td th:text="${listing.id}"></td>
            <td th:text="${listing.variety}"></td>
            <td th:text="${listing.maturity.getType()}"></td>
            <td th:text="${listing.description}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>