<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
</head>
<body>
<div>
    <h2>Varieties</h2>
    <form th:action="@{/browse/varieties}" method = "post">
    <!-- Browse Text Box Form -->

        <label for="varietySearch">Browse by Variety :</label>
        <input type="text" id="varietySearch" name="varietySearch" />
        <button type="submit">Browse</button>


    <!-- List of Varieties -->
    <ul>
        <li th:each="variety : ${varieties}">
<!--            <a th:href="@{/varieties/search/variety/{id}(id=${variety.id})}" th:text="${variety.name}"></a>-->
<!--            <a th:if="${variety != null}" th:href="@{/varieties/search/variety/${variety.id}" th:text="${variety.id}"></a>-->
<!--            <span th:text="${variety.id}"></span>-->
            <a th:href="@{/varieties/search/variety/{id}(id=${variety.id})}" th:text="${variety.name}"></a>
        </li>

    </ul>
    </form>
</div>
</body>
</html>